{% load staticfiles %}
<div id="wrapper">
    <audio id="track">
        <source src="{{ audio }}" type="audio/mp3">
    </audio>
    <navbar>
        {% if audio %}
            <marquee>{{ song_title }} - {{ album_title }} - {{ artist }}</marquee>
        {% else %}
            <marquee>No song selected to play</marquee>
        {% endif %}
        <div id="defaultBar">
            <div id="progressBar"></div>
        </div>
		<button type="button" id="speaker1"></button>
        <span id="currentTime">00:00</span> / <span id="fullDuration">00:00</span>
         | Volume <span id="volume">00</span>%
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" id="backwardButton"></button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" id="playButton"></button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" id="forwardButton"></button>&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" id="volumeMinus"></button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" id="muteButton"></button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" id="volumePlus"></button>&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;
        <button type="button" id="speaker2"></button>
    </navbar>
</div>
<link rel="stylesheet" type="text/css" href="{% static 'music/main.css' %}"/>
<script type="text/javascript" src="{% static 'music/js/controls.js' %}"></script>
