<div class="container-fluid songs-container">
    {% if error_message %}
        <div class="col-sm-offset-2 col-sm-10">
            <span class="text-danger">{{ error_message }}</span>
        </div>
    {% endif %}
    <div class="row">
        <!-- Left Album Info -->
        <div class="col-sm-4 col-sm-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'music:detail' album.id %}">
                        <img src="{{ album.album_logo.url }}" class="img-responsive">
                    </a>
                    <h1>{{ album.album_title }}
                        <small>{{ album.genre }}</small>
                    </h1>
                    <h2>{{ album.artist }}</h2>
                </div>
            </div>
        </div>

        <!-- Right Song Info -->
        <div class="col-sm-8 col-sm-9">
            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li class="active"><a href="{% url 'music:detail' album.id %}">View All</a></li>
                {% if is_authenticated %}
                    <li><a href="{% url 'music:song-add' %}"> Add New Song</a></li>
                {% endif %}
            </ul>
            <div class="panel panel-default">
                <div class="panel-body">
                    {% include 'music/audio.html' %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Play Song</th>
                                <th>Title</th>
                                {% if is_authenticated %}
                                    <th>Favorite</th>
                                    <th>Download</th>
                                    <th>Actions</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                        {% for song in album.song_set.all %}
                            <tr>
                                <td>
                                    <form action="{% url 'music:detail' album.id %}" id="form" method="post"">
                    	            {% csrf_token %}
                                    <input type="hidden" name="audio_url" id="audio_url" value="{{ song.audio_file.url }}" />
                    			    <input type="hidden" name="artist" id="artist" value="{{ album.artist }}" />
                    			    <input type="hidden" name="song_title" id="song_title" value="{{ song.song_title }}" />
                    			    <input type="hidden" name="album_title" id="album_title" value="{{ album.album_title }}" />
                                    {% if previous_song %}
                                        <input type="hidden" id="previous_song_url" value="{{previous_song.audio_file.url}}" />
                                        <input type="hidden" id="previous_song_artist" value="{{album.artist}}" />
                                        <input type="hidden" id="previous_song_title" value="{{previous_song.song_title}}" />
                                        <input type="hidden" id="previous_album_title" value="{{previous_song.album.album_title}}" />
                                    {% endif %}
                                    {% if next_song %}
                                        <input type="hidden" id="next_song_url" value="{{next_song.audio_file.url}}" />
                                        <input type="hidden" id="next_song_artist" value="{{album.artist}}" />
                                        <input type="hidden" id="next_song_title" value="{{next_song.song_title}}" />
                                        <input type="hidden" id="next_album_title" value="{{next_song.album.album_title}}" />
                                    {% endif %}
                                    <button type="submit" class="btn btn-success btn-sm">
                    			    {% if audio and song.song_title == song_title %}
                    			        <span class="glyphicon glyphicon-pause"></span>
                    			    {% else %}
                    			        <span class="glyphicon glyphicon-play"></span>
                    			    {% endif %}
                                    </button>
                        			</form>
                                </td>
                                <td>{{ song.song_title }}</td>
                                {% if is_authenticated %}
                                    <td>
                                    {% if filter_by == 'all' %}
                                        <form action="{% url 'music:song-favorite' 'all' %}" method="post">
                                    {% else %}
        			                     <form action="{% url 'music:song-favorite' 'favorites' %}" method="post">
                                    {% endif %}
        				            {% csrf_token %}
                    				<input type="hidden" name="song_id" value="{{song.id}}" />
                    				<input type="hidden" name="template" value="detail" />
                                    <button type="submit" class="btn btn-default btn-xs">
                    				    <span class="glyphicon glyphicon-star {% if song.is_favorite %}active{% endif %}"></span>
                                    </button>
        				                </form>
                                    </td>
                                    <td>
                                        <a target="_blank" href="{{ song.audio_file.url }}">
                                            <button type="button" class="btn btn-success btn-xs">
                                                <span class="glyphicon glyphicon-download"></span>&nbsp; Download
                                            </button>
                                        </a>
                                    </td>
                                    <td>
                                        <form action="{% url 'music:song-delete' album.id song.id %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="album_id" value="{{ album.id }}" />
                                        <input type="hidden" name="song_id" value="{{ song.id }}" />
                                        <button type="submit" class="btn btn-danger btn-xs">
                                            <span class="glyphicon glyphicon-remove"></span>&nbsp; Delete
                                        </button>
                                        </form>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>