{% extends 'music/base.html' %}
{% block title %}Songs India | Album - {{ album.artist }}{% endblock %}
{% load staticfiles %}
{% block body %}
    <div class="container-fluid songs-container">
        {% if error_message %}
            <div class="col-sm-offset-2 col-sm-10">
                <span class="text-danger">{{ error_message }}</span>
            </div>
        {% endif %}
        <div class="row">
            <!-- Left Album Info -->
            <div class="col-sm-4 col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="{% url 'music:detail' album.id %}">
                            <img src="{{ album.album_logo.url }}" class="img-responsive">
                        </a>
                        <h1>{{ album.album_title }}
                            <small>{{ album.genre }}</small>
                        </h1>
                        <h2>{{ album.artist }}</h2>
                    </div>
                </div>
            </div>

            <!-- Right Song Info -->
            <div class="col-sm-8 col-sm-9">
                <ul class="nav nav-pills" style="margin-bottom: 10px;">
                    <li class="active"><a href="{% url 'music:detail' album.id %}">View All</a></li>
                    <li><a href="{% url 'music:song-add' %}"> Add New Song</a></li>
                </ul>
                <div class="panel panel-default">
                    <div class="panel-body">
			{% if audio %}
			<div id="wrapper">
                        <audio id="track">
                            <source src="{{ audio }}" type="audio/mp3">
                        </audio>
                        <nav>
			    <marquee>{{ song_title }} - {{ album_title }} - {{ artist }}</marquee>
                            <div id="defaultBar">
                                <div id="progressBar"></div>
                            </div>
                            <div id="buttons">
                                <button type="button" id="playButton"></button>&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" id="muteButton"></button>&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" id="volumePlus"></button>&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" id="volumeMinus"></button>&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <span id="currentTime">00:00</span> /
                                <span id="fullDuration">00:00</span>
                            </div>
                        </nav>
			</div>
			<link rel="stylesheet" type="text/css" href="{% static 'music/main.css' %}"/>
			<script type="text/javascript" src="{% static 'music/js/controls.js' %}"></script>
			{% endif %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Play Song</th>
                                    <th>Title</th>
                                    <th>Favorite</th>
                                    <th>Download</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for song in album.song_set.all %}
                                <tr>
                                    <td>
                                        <form action="{% url 'music:detail' album.id %}" method="post">
					  {% csrf_token %}
                                            <input type="hidden" name="audio_url" value="{{ song.audio_file.url }}" />
					    <input type="hidden" name="artist" value="{{ album.artist }}" />
					    <input type="hidden" name="song_title" value="{{ song.song_title }}" />
					    <input type="hidden" name="album_title" value="{{ album.album_title }}" />
                                            <button type="submit" class="btn btn-success btn-sm">
                                              <span class="glyphicon glyphicon-play"></span>
                                            </button>
					</form>
                                    </td>
                                    <td>{{ song.song_title }}</td>
                                    <td>
                                      {% if filter_by == 'all' %}
				      <form action="{% url 'music:song-favorite' 'all' %}" method="post">
					{% else %}
					<form action="{% url 'music:song-favorite' 'favorites' %}" method="post">
					  {% endif %}
					  {% csrf_token %}
					  <input type="hidden" name="song_id" value="{{song.id}}" />
					  <input type="hidden" name="template" value="detail" />
                                          <button type="submit" class="btn btn-default btn-xs">
					    <span class="glyphicon glyphicon-star {% if song.is_favorite %}active{% endif %}"></span>
                                          </button>
					</form>
                                    </td>
                                    <td>
                                        <a target="_blank" href="{{ song.audio_file.url }}">
                                            <button type="button" class="btn btn-success btn-xs">
                                                <span class="glyphicon glyphicon-download"></span>&nbsp; Download
                                            </button>
                                        </a>
                                    </td>
                                    <td>
                                        <form action="{% url 'music:song-delete' album.id song.id %}" method="post" style="display: inline;">
                                            {% csrf_token %}
                                            <input type="hidden" name="album_id" value="{{ album.id }}" />
                                            <input type="hidden" name="song_id" value="{{ song.id }}" />
                                                <button type="submit" class="btn btn-danger btn-xs">
                                                    <span class="glyphicon glyphicon-remove"></span>&nbsp; Delete
                                                </button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
