{% extends 'music/base.html' %}
{% block title %}Songs India | Album - {{ album.artist }}{% endblock %}

{% block body %}
    <div class="container-fluid songs-container">
        <div class="row">

            <!-- Left Album Info -->
            <div class="col-sm-4 col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="{% url 'music:detail' album.id %}">
                            <img src="{{ album.album_logo.url }}" class="img-responsive">
                        </a>
                        <h1>{{ album.album_title }}
                            <small>{{ album.genre }}</small>
                        </h1>
                        <h2>{{ album.artist }}</h2>
                    </div>
                </div>
            </div>

            <!-- Right Song Info -->
            <div class="col-sm-8 col-sm-9">
                <ul class="nav nav-pills" style="margin-bottom: 10px;">
                    <li class="active"><a href="{% url 'music:detail' album.id %}">View All</a></li>
                    <li><a href="{% url 'music:song-add' album.id %}"> Add New Song</a></li>
                </ul>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>All Songs</h3>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Play Song</th>
                                <th>Title</th>
                                <th>Favorite</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            {% for song in album.song_set.all %}
                            <tr>
                                <th>
                                    <audio controls>
                                      <source src="{{ song.audio_file.url }}" type="audio/mpeg">
				      <source src="{{ song.audio_file.url }}" type="audio/ogg; codecs=vorbis">
					Your brower does not support the audio element.
                                    </audio>
                                </th>
                                <th>{{ song.song_title }}</th>
                                <th>
				    {% if song.is_favorite %}
				        <a href="#" class="btn btn-primary btn-sm btn-favorite">
				    {% else %}
	                                <a href="#" class="btn btn-default btn-sm btn-favorite">
				    {% endif %}
				            <span class="glyphicon glyphicon-star"></span>
					</a>
                                </th>
                                <th>
                                    <form action="{% url 'music:song-delete' song.id %}" method="post" style="display: inline;">
                                        {% csrf_token %}
					<input type="hidden" name="song_id" value="{{ song.id }}" />
                                        <button type="submit" class="btn btn-default btn-sm">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </form>
                                </th>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
