{% extends 'music/base_visitor.html' %}
{% block title %}Songs India | Login{% endblock %}
{% block home_active %}active{% endblock %}
{% load staticfiles %}
<script src="{% static 'music/js/main.js' %}"></script>
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Welcome to Songs India music application</h3>
                </div>
                <div class="panel-footer">
		    Please <a href="{% url 'music:login' %}">Click here</a> to login.<br/>
                    Don't have an account? <a href="{% url 'music:register' %}">Click here</a> to register.
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
