{% extends 'music/base_visitor.html' %}
{% block title %}Songs India | Home{% endblock %}
{% block home_active %}active{% endblock %}
{% load static %}
<script src="{% static 'music/js/main.js' %}"></script>
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="panel-body">
            {% if albums %}
                {% for album in albums %}
                    <div class="col-sm-4 col-sm-2">
                        <div class="thumbnail">
                            <!-- Album Logo -->
                            <a href="{% url 'music:detail' album.id %}">
                                <img src="{{ album.album_logo.url }}" class="img-responsive" style="width: 150px; height: 150px">
                            </a>
                            <div class="caption">
{#                                <h3>{{ album.album_title }}</h3>#}
{#                                <h5>{{ album.artist }}</h5>#}
                                {% if album.user == request.user %}
                                    <!-- Update -->
                                    <a href="{% url 'music:album-update' album.id %}" class="btn btn-primary btn-sm">Edit Album</a>

                                    <!-- Delete -->
                                    <form action="{% url 'music:album-delete' album.id %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="album_id" value="{{ album.id }}" />
                                        <button type="submit" class="btn btn-default btn-sm">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </form>

                                    <!-- Favorite -->
                                    <a href="{% url 'music:album-favorite' album.id %}" class="btn btn-default btn-sm btn-favorite" role="button">
                                        <span class="glyphicon glyphicon-star {% if album.is_favorite %}active{% endif %}"></span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="col-sm-12">
                <br>
                <a href="{% url 'music:album-add' %}">
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp; Add an Album
                    </button>
                </a>
            </div>
        </div>
            
        {% endif %}
    </div>
</div>
{% endblock %}
