<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="wrapper">
        <audio id="mytrack" controls>
            <source src="" type="audio/mp3">
        </audio>
        <nav>
            <div id="defaultBar">
                <div id="progressBar"></div>
            </div>
            <div id="buttons">
                <button type="button" id="playButton"></button>
                <button type="button" id="muteButton"></button>
                <span id="currentTime">00:00</span>/
                <span id="fullDuration">00:00</span>
            </div>
        </nav>
    </div>
    <script type="text/javascript" src="controls.js"></script>
</body>
</html>