{% extends 'music/base.html' %}
{% block title %}Songs India | All Songs{% endblock %}
{% block body %}
    {% if all_songs %}
    <div class="container-fluid songs-container">
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-body">
              <h3>All Songs</h3>
              <table class="table">
                <thead>
                  <tr>
                    <th>Play Song</th>
                    <th>Title</th>
		    <th>Artist</th>
		    <th>Album</th>
                    <th>Favorite</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                {% for song in all_songs %}
                <tr>
                  <th>
                    <audio controls>
                      <source src="{{ song.audio_file.url }}" type="audio/mpeg">
			<source src="{{ song.audio_file.url }}" type="audio/ogg; codecs=vorbis">
			  Your brower does not support the audio element.
                    </audio>
                  </th>
                  <th>{{ song.song_title }}</th>
		  <th>{{ song.album.artist }}</th>
		  <th>{{ song.album.album_title }}</th>
                  <th>
		    {% if song.is_favorite %}
		    <a href="#" class="btn btn-primary btn-sm btn-favorite">
		      {% else %}
	              <a href="#" class="btn btn-default btn-sm btn-favorite">
			{% endif %}
			<span class="glyphicon glyphicon-star"></span>
		      </a>
                  </th>
                  <th>
                    <form action="{% url 'music:song-delete' song.id %}" method="post" style="display: inline;">
                      {% csrf_token %}
		      <input type="hidden" name="song_id" value="{{ song.id }}" />
                      <button type="submit" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-trash"></span>
                      </button>
                    </form>
                  </th>
                </tr>
                {% endfor %}
              </table>
            </div>
          </div>
    	</div>
    </div>
    {% else %}
    <h3>You don't have any songs</h3>
    {% endif %}
{% endblock %}
