{% extends 'music/base.html' %}
{% block title %}Songs India | All Songs{% endblock %}
{% block songs_active %}active{% endblock %}
{% load staticfiles %}
{% block body %}
    {% if all_songs %}
    <div class="container-fluid songs-container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-pills" style="margin-bottom: 10px;">
                    <li role="presentation" {% if filter_by == 'all' %}class="active"{% endif %}>
                        <a href="{% url 'music:songs' 'all' %}">View All</a></li>
                    <li role="presentation" {% if filter_by == 'favorites' %}class="active"{% endif %}>
                        <a href="{% url 'music:songs' 'favorites' %}">Favorites</a></li>
                </ul>
            </div>
        </div>
        <div>
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                    {% if audio %}
		    {% include 'music/audio.html' %}
                    {% endif %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Play List</th>
                                    <th>Song Title</th>
                                    <th>Artist</th>
                                    <th>Album</th>
                                    <th>Download</th>
                                    <th>Favorite</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for song in all_songs %}
                                    <tr>
                                        <td>
                                            {% if filter_by == 'all' %}
                                                <form action="{% url 'music:songs' 'all' %}" method="post">
                                            {% else %}
                                                <form action="{% url 'music:songs' 'favorites' %}" method="post">
                                            {% endif %}
                                            {% csrf_token %}
                                            <input type="hidden" name="audio_url" value="{{ song.audio_file.url }}" />
					    <input type="hidden" name="artist" value="{{ song.album.artist }}" />
					    <input type="hidden" name="song_title" value="{{ song.song_title }}" />
					    <input type="hidden" name="album_title" value="{{ song.album.album_title }}" />
                                            <button type="submit" class="btn btn-success btn-sm" onclick="playOrPause()">
					      {% if audio and song.song_title == song_title %}
					      <span class="glyphicon glyphicon-pause"></span>
					      {% else %}
					      <span class="glyphicon glyphicon-play"></span>
					      {% endif %}
                                            </button>
                                                </form>
                                        </td>
                                        <td>{{ song.song_title }}</td>
                                        <td>{{ song.album.artist }}</td>
                                        <td>
                                            <a href="{% url 'music:detail' song.album.id %}">
                                                <img src="{{ song.album.album_logo.url }}" class="img-responsive" style="width: 20px; float: left; margin-right: 10px;" />
                                            </a>
                                            <a href="{% url 'music:detail' song.album.id %}">{{ song.album.album_title }}</a>
                                        </td>
                                        <td>
                                            <a target="_blank" href="{{ song.audio_file.url }}">
                                                <button type="button" class="btn btn-success btn-xs">
                                                    <span class="glyphicon glyphicon-download"></span>&nbsp; Download
                                                </button>
                                            </a>
                                        </td>
                                        <td>
					  {% if filter_by == 'all' %}
					  <form action="{% url 'music:song-favorite' 'all' %}" method="post">
					  {% else %}
					  <form action="{% url 'music:song-favorite' 'favorites' %}" method="post">
					  {% endif %}
					    {% csrf_token %}
					    <input type="hidden" name="song_id" value="{{song.id}}" />
					    <input type="hidden" name="template" value="songs" />
                                            <button type="submit" class="btn btn-default btn-xs">
					      <span class="glyphicon glyphicon-star {% if song.is_favorite %}active{% endif %}"></span>
                                            </button>
					  </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="col-sm-12">
        <br>&nbsp;&nbsp;&nbsp;
        <a href="{% url 'music:song-add' %}">
            <button type="button" class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span>&nbsp; Add an Song
            </button>
        </a>
    </div>
    {% endif %}
{% endblock %}
