/*body{*/
    /*background-color: #101010;*/
/*}*/

#wrapper{
    width: 640px;
    margin: 10px auto;
}

/*nav{*/
    /*background-color: #606060;*/
    /*width: 640px;*/
    /*padding-bottom: 3px;*/
    /*border-bottom-color: #101010;*/
/*}*/

#defaultBar{
    width: 640px;
    position: relative;
    background-color: #606060;
    height: 10px;
}

#progressBar{
    position: absolute;
    height: 10px;
    background-color: #3498db;
    width: 0px;
}

#playButton{
    background-color: rgb(250, 250, 250);
    border: none;
    height: 32px;
    width: 32px;
    background-image: url(../play.png);
    background-repeat: no-repeat;
    background-position: center;
}

#muteButton{
    background-color: rgb(250, 250, 250);
    border: none;
    height: 32px;
    width: 32px;
    background-image: url(../speaker.png);
    background-repeat: no-repeat;
    background-position: center;
}

#forwardButton{
    background-color: rgb(250, 250, 250);
    border: none;
    height: 32px;
    width: 32px;
    background-image: url(../forward.png);
    background-repeat: no-repeat;
    background-position: center;
    align-self: flex-end;
}

#backwardButton{
    background-color: rgb(250, 250, 250);
    border: none;
    height: 32px;
    width: 32px;
    background-image: url(../backward.png);
    background-repeat: no-repeat;
    background-position: center;
    align-self: flex-end;
}

#volumePlus{
    background-color: rgb(250, 250, 250);
    border: none;
    height: 32px;
    width: 32px;
    background-image: url(../volume-plus.png);
    background-repeat: no-repeat;
    background-position: center;
    align-self: flex-end;
}

#volumeMinus{
    background-color: rgb(250, 250, 250);
    border: none;
    height: 32px;
    width: 32px;
    background-image: url(../volume-minus.png);
    background-repeat: no-repeat;
    background-position: center;
    align-self: flex-end;
}

#muteButton:active, #playButton:active, #forwardButton:active, #backwardButton:active, #volumePlus:active, #volumeMinus:active{
    position: relative;
    top: 2px;
}