{% extends 'users/base_visitor.html' %}
{% block title %}Songs India | Login{% endblock %}
{% block login_active %}active{% endblock %}
{% load static %}
<script src="{% static 'music/js/main.js' %}"></script>
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% if success_message %}
                    <div class="col-sm-offset-2 col-sm-10">
                        <span class="text-success">{{ success_message }}</span>
                    </div>
		            {% endif %}
{#                    <h3>{% block header %}User Login{% endblock %}</h3>#}
                    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data" autocomplete="off">
                        {% csrf_token %}
                        {% include 'users/form-template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Login</button>
                            </div>
                        </div>
                    </form>
                    {% if error_message %}
                        <div class="col-sm-offset-2 col-sm-10">
                            <span class="text-danger">{{ error_message }}</span>
                        </div>
                    {% endif %}
                </div>
                <div class="panel-footer">
          		    Forget password? <a href="{% url 'users:forget-password' %}">Click here</a> to recover your account.<br/>
        		    Want change your password? <a href="{% url 'users:change-password' %}">Click here</a>.<br/>
                    Don't have an account? <a href="{% url 'users:register' %}">Click here</a> to register.
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
