{% extends 'users/base_visitor.html' %}
{% block title %}Songs India | User Register{% endblock %}
{% block register_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% if phone_code %}
                        <div class="col-sm-offset-2 col-sm-10">
                            <span class="text-success">Your phone verification code: {{ phone_code }}</span>
                        </div>
                    {% endif %}
                    <h3>{% block header %}Create user Account{% endblock %}</h3>
                    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data" autocomplete="off">
                        {% csrf_token %}
                        {% include 'users/form-template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                                &nbsp;&nbsp;
                                <button type="reset" class="btn btn-default">Clear</button>
                            </div>
                        </div>
                    </form>
                    {% if error_message %}
                        <div class="col-sm-offset-2 col-sm-10">
                            <span class="text-danger">{{ error_message }}</span>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="panel-footer">
                Already have an account? <a href="{% url 'users:login' %}">Click here</a> to log in.
            </div>
        </div>
    </div>
</div>
{% endblock %}
